models/book.js
models/Kitten.js
models/student.js
models.tsk.js

node_modules
.env

public/images
public/javascripts
public/stylesheets/index.css
public/stylesheets/register.css
public/stylesheets/view.css

routes/index.js
routes/new.js
routes/sum.js
routes/todo.js
routes/users.js

views/error.jade
views/index.ejs
views/index.jade
views/issue.ejs
views/layout.jade
views/newbook.ejs
views/newstd.ejs
views/showstd.ejs
views/todo.ejs
views/viewbook.ejs
views/viewstd.ejs
