<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
    content="ie=edge">
    <link rel="stylesheet" href="lms/stylesheets/register.css">
    <title>RegStd</title>
</head>
<body>
    <div class="container">
        <div class="main">
        <div class="heading"><h1>Register New Student Here</h1></div>
        <form action="lms/newstd" method="POST">
            <table class="table">
                <tbody>
                    <tr><th>Student Name</th></tr>
                    <tr><td><input type="text" name="std_name" placeholder="Enter Name of Student" required></td></tr>
                    <tr><th>Course</th></tr>
                    <tr><td><input type="text" name="course" placeholder="Enter Course" required></td></tr>
                    <tr><td><input type="submit" ></td></tr>
                </tbody>
            </table>
        </form></div>
    </div>
  
</body>
