<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
    content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/view.css">
    <title>Issue</title>
</head>
<body>
    <div class="container">
        <div class="heading"><h1>Select   Student</h1></div>
        <div class="main">
            <form action="/selstd" method="post">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>Name of Student</th>
                            <th>Course</th>
                            <th>No. of books Issued</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i of student2) { %>
                            <tr>
                                <td>
                                    <input type="checkbox" name="selectedstudents" value="<%= i._id %>">
                                </td>
                                <td><%= i.name %></td>
                                <td><%= i.course%></td>
                                <td><%= i.books_issued%></td>
                            </tr>
                        <% } %>
         
                    </tbody>
                
                </table>
                <button type="submit">Next</button>

            </form>
        </div>
    </div>
</body>